body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }
  
  .calculator {
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .display {
    height: 60px;
    font-size: 35px;
    text-align: right;
    padding: 5px;
    background-color: #DEDCDE;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-block: 20px;
    overflow-X: auto;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  
  }
  button {
    font-weight: 900;
    height: 70px;
    width: 70px;
    font-size: 50px;
    border: 100;
    border-radius: 9px;
    cursor: pointer;
    background-color: #ffff;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #ccc;
  }
  td {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px;
    text-align: right; 
  }
  
  .equal-button {
    background-color: blue;
    color: white;
  }
  .equal-button:hover {
    background-color:#ccc;
  }
    .repo-link a {
      color: blue; 
      text-decoration: none; 
      font-weight: Bold; 
      font-size: 20px; 
  
    }
    .repo-link a:hover {
      color: yellowgreen; 
    }
